body {
    margin: 0;
    background: rgb(15, 15, 15);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

h1 {
    margin-left: 40px;
    margin-right: 90px;
    font-weight: 800;
    color: orange;
    font-size: 36px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-right: 30px;
}

h2 {
    font-weight: 800;
    color: white;
    font-size: 24px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

h3 {
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin-block-start: 0em;
    margin-block-end: 0em;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 30px;
}

nav {
    width: 100%;
    background-color: transparent;
    position: fixed;
    z-index: 9999;
    top: 0;
}

nav .navElement input {
    display: inline-block;
}

nav .navElement {
    text-align: left;
    padding: 20px 0 20px 0;
    background: rgba(0, 0, 0, 0.6);
}

nav .navElement [id] {
    display: inline-block;
    vertical-align: middle;
}

#search {
    width: 280px;
    padding-left: 30px;
    border-radius: 20px;
    height: 35px;
    border-width: 0px;
    border: none;
    top: 0;
    font-size: 16px;
}

#search-container {
    position: relative;
}

.fa-search {
    color: rgb(15, 15, 15);
    position: absolute;
    top: 10px;
    left: 8px;
}

#search:focus {
    outline: none;
}

#submit {
    cursor: pointer;
    background: orange;
    padding: 10 20 10 20;
    border-radius: 20px;
    color: white;
    border: none;
    outline: none;
    margin-left: 20px;
}

.movieContainer-parent .movieContainer {
    display: inline-block;
    position: relative;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.movieContainer {
    width: 280px;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    overflow: hidden;
    white-space: normal;
}

.movieContainer:hover {
    box-shadow: 0px 0px 2px 3px white;
}

.movieContainer img {
    width: 280px;
    height: 200px;
    object-fit: cover;
    filter: brightness(0.8);
    transition: 0.4s ease-in-out;
    border-radius: 5px;
}

.movieContainer img:hover {
    transform: scale(1.1, 1.1);
    transition: 0.4s ease-in-out;
}

.movieContainer-subParent-parent {
    position: relative;
}

.movieContainer-subParent {
    position: relative;
}

.movieContainer-subParent-container {
    position: relative;
    display: block;
    padding: 40px 0 20px 40px;
}

.title {
    transition: 0.4s ease-in-out;
    position: absolute;
    bottom: 10px;
}

.movieContainer:hover .title {
    transition: 0.4s ease-in-out;
    bottom: 30px;
}

.movieContainer:hover .hoverShow {
    color: #0366d6;
    display: block;
}

.movieText-container {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 30%,
        rgba(0, 0, 0, 0.7066176812521884) 85%,
        rgba(0, 0, 0, 0) 100%
    );
}

.hoverShow {
    display: none;
    font-size: 12px;
    padding: 10 15 0 15;
}

.modalDetails {
    color: #0366d6;
    margin-top: 10px;
    font-weight: 600;
}

.hoverShow span {
    padding-left: 16px;
}

.title-container {
    transition: 0.4s ease-in-out;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 30px 0 10px 0;
    color: white;
    font-size: 20px;
    text-align: left;
    width: 100%;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.7066176812521884) 85%,
        rgba(0, 0, 0, 0) 100%
    );
}

.title,
.hoverDetails {
    padding: 0 15px 0 15px;
}

.backgroundOnHover img {
    width: 100%;
    max-width: 2000px;
    max-height: 850px;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.5);
    cursor: initial;
}

.backgroundOnHover-parent {
    height: 850px;
    position: relative;
    display: block;
}

.background-container-onChange {
    position: absolute;
    width: 100%;
}

.backgroundOnHover .backgroundChild {
    width: 100%;
    position: absolute;
    top: 170px;
    padding: 40px;
    max-width: 600px;
}

.backgroundDetails {
    font-weight: 400;
    font-size: 22px;
    margin-top: 20px;
}

.backgroundDetails div {
    display: inline-block;
    background: #0366d6;
    color: white;
    border-radius: 25px;
    padding: 3px 10px;
    margin-bottom: 10px;
}

.backgroundChild,
.backgroundTitle {
    color: white;
}

.backgroundTitle {
    font-size: 40px;
    color: orange;
    font-weight: 600;
    margin-bottom: 20px;
}

.backgroundDetails div:not(:last-of-type) {
    margin-right: 10px;
}

.arrow {
    position: absolute;
    color: orange;
    bottom: 200px;
    left: 53px;
    font-size: 16px;
}

.modalDetails .modalDetailsData:not(:last-of-type) {
    margin-right: 20px;
}

.modalDetails .modalDetailsData {
    display: inline-block;
    white-space: nowrap;
}

.actors p {
    display: inline-block;
    font-weight: 400;
    background: #f1f8ff;
    color: #0366d6;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 30px;
    margin-right: 7px;
    margin-top: 0px;
    margin-bottom: 5px;
    white-space: nowrap;
}

.modal {
    background-color: black;
    box-shadow: rgb(0 0 0 / 100%) 0px 1px 20px 0px;
    color: white;
    width: 550px;
    min-height: 300px;
    border-radius: 7px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: blur(0px);
    z-index: 9999;
}

.modalTitle {
    color: orange;
    text-align: left;
    margin-left: 0;
    padding-left: 20px;
}

.moviePlot {
    font-size: 1.5rem;
}

.movieText {
    padding: 29px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 30%,
        rgba(0, 0, 0, 0.7066176812521884) 85%,
        rgba(0, 0, 0, 0) 100%
    );
    margin-bottom: 0;
    padding-bottom: 25%;
    width: 90%;
    font-size: 18px;
    left: 0px;
}

.modal img {
    border-radius: 7px;
    width: 100%;
    filter: brightness(0.8);
}

.blurBackground {
    background: #000000c9;
    z-index: 100;
    width: 100%;
    height: 100%;
    filter: drop-shadow(2px 4px 6px black);
    position: absolute;
    top: 0;
    position: fixed;
}

.trailerText {
    color: orange;
    margin-top: 40px;
    font-size: 22px;
}

.backgroundTrailerButton,
.moreInfoButton {
    display: block;
    background: orange;
    border: 4px solid orange;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    margin-top: 60px;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 1.4rem;
    width: 200px;
    transition: 0.3s;
}

.moreInfoButton:hover {
    background: orange;
    color: rgb(15, 15, 15);
}

.backgroundTrailerButton:hover {
    color: rgb(15, 15, 15);
}

.moreInfoButton {
    background: rgba(0, 0, 0, 0.7);
    color: orange;
    border: 5px solid orange;
    width: 245px;
    cursor: pointer;
}

.modal .backgroundTrailerButton {
    padding: 10px 25px 10px 25px;
    margin-top: 55px;
    font-size: 1.2rem;
    width: 100%;
}

.backgroundOnHover-button-container {
    display: flex;
}

.backgroundOnHover-button-container div:first-of-type {
    margin-right: 10px;
}

a {
    text-decoration: none;
}

.modal {
    position: fixed;
}

#footer {
    margin-top: 60px;
}

#footer span {
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 20px 0 20px 40px;
}

@media screen and (max-width: 950px) {
    #footer {
        text-align: center;
    }

    #footer span {
        padding: 20px 0 20px 0;
    }

    .fa-chevron-right {
        left: 90%;
    }

    .backgroundOnHover img {
        width: 100%;
    }

    .backgroundOnHover-parent {
        margin-left: 0;
    }

    .movieContainer-subParent {
        margin: 20px;
    }

    .movieContainer-subParent-container {
        padding: 40px 0 20px 0;
    }

    .movieContainer {
        width: 400px;
    }

    .movieContainer img {
        width: 400px;
        height: 320px;
    }

    .movieContainer {
        transition-duration: 1.5s;
        width: 400px;
    }

    .fa-chevron-left {
        margin-left: 40px;
    }

    .fa-chevron-right {
        left: 84%;
    }

    .arrow {
        bottom: 320px;
        left: 115px;
    }

    .trailerText {
        padding-left: 20px;
    }

    .movieContainer-subParent-container h2 {
        padding-left: 20px;
    }

    .movieContainer-parent {
        margin-top: 0;
    }
}

@media screen and (max-width: 750px) {
    .backgroundOnHover .backgroundChild {
        padding: 20px;
        top: 160px;
        width: 100%;
        max-width: 80%;
    }

    .moreInfoButton {
        width: 258px;
    }

    nav .navElement {
        padding: 10px 0 20px 0;
    }

    nav .navElement [id] {
        display: block;
        margin-top: 5px;
    }

    h1#logo {
        margin-left: 20px;
    }

    .backgroundTrailerButton,
    .moreInfoButton {
        width: 180px;
    }

    .backgroundTrailerButton {
        padding: 22px 0px 22px 0px;
    }

    .modal {
        width: 430px;
        overflow-y: scroll;
    }

    #search-container {
        margin-left: 20px;
    }
}

@media screen and (max-width: 550px) {
    .fa-chevron-right,
    .fa-chevron-left {
        top: 54%;
    }

    .backgroundTrailerButton,
    .moreInfoButton {
        font-size: 1rem;
        margin-top: 30px;
    }

    .backgroundTrailerButton {
        padding: 19px 0px 19px 0px;
    }

    .modal {
        width: 100%;
        height: auto;
    }

    h1 {
        font-size: 34px;
        margin-left: 20px;
    }

    .backgroundTrailerButton,
    .moreInfoButton {
        margin-top: 30px;
    }

    #search {
        margin-top: 5px;
    }

    .backgroundOnHover .backgroundChild {
        top: 150px;
    }
}

@media screen and (max-width: 450px) {
    .movieContainer img {
        width: 350px;
        height: 270px;
    }

    .movieContainer {
        width: 350px;
    }

    .backgroundTitle {
        font-size: 2rem;
    }

    .backgroundDetails div:not(:first-of-type) {
        margin-left: 0;
    }

    .modal .backgroundTrailerButton {
        width: auto;
    }

    .moreInfoButton {
        padding: 18px 5px 18px 5px;
    }

    .backgroundOnHover-button-container {
        flex-direction: column;
    }

    .fa-chevron-right,
    .fa-chevron-left {
        top: 50%;
    }

    .fa-chevron-right {
        left: 77%;
    }

    .movieText {
        padding: 15px;
        width: 93%;
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0.7066176812521884) 97%,
            rgba(0, 0, 0, 0) 100%
        );
        margin-bottom: -250px;
    }

    .modal {
        width: 100%;
        overflow-y: scroll;
        height: 500px;
    }

    .arrow {
        bottom: 200px;
        left: 53px;
    }

    .title-container {
        background: none;
    }
}

@media screen and (max-width: 404px) {
    .movieContainer-subParent-container {
        padding: 70px 0 20px 0;
    }

    .backgroundTrailerButton,
    .moreInfoButton {
        padding: 10px 5px 10px 5px;
    }

    .fa-chevron-right,
    .fa-chevron-left {
        top: 55%;
    }

    .movieContainer {
        width: 280px;
    }

    .movieContainer img {
        width: 280px;
        height: 200px;
    }

    .title {
        width: 280px;
    }

    #search {
        width: 240px;
    }
}

@media screen and (max-width: 350px) {
    .movieContainer-subParent-container {
        padding: 110px 0 20px 0;
    }
}
